@{
    ViewData["Title"] = MultiLanguages.Resources.Resource.HomePage;
}
@* https://www.youtube.com/watch?v=0rq9Cj2fgJ0 *@
<div class="text-center">
    <h1 class="display-4">@MultiLanguages.Resources.Resource.Welcome</h1>
    <p>@MultiLanguages.Resources.Resource.LearnAbout <a href="https://learn.microsoft.com/aspnet/core">@MultiLanguages.Resources.Resource.BuildingWebApps</a>.</p>
    <p>@MultiLanguages.Resources.Resource.Category</p>
    <p>@MultiLanguages.Resources.Resource.Subcategory</p>
    <p>@MultiLanguages.Resources.Resource.Changelanguage</p>
</div>
